In [6]:
import pandas as pd
df = pd.read_excel (r'\Users\suren\OneDrive\Desktop\筱鹿\dbp221\Week7_Store Data Sample.xlsx')
print(df)

          Order ID                 ID Order Date           date Customer ID  \
0   CA-2016-152156  'CA-2016-152156', 2016-11-08  '11,08,2016',    EB-13930
1   CA-2016-152156  'CA-2016-152156', 2016-11-08  '11,08,2016',    EB-13930
2   CA-2016-138688  'CA-2016-138688', 2016-06-12  '06,12,2016',    MO-17950
3   US-2015-108966  'US-2015-108966', 2015-10-11  '10,11,2015',    JO-15550
4   US-2015-108966  'US-2015-108966', 2015-10-11  '10,11,2015',    JO-15550
..             ...                ...        ...            ...         ...
95  US-2017-109484  'US-2017-109484', 2017-11-06  '11,06,2017',    JR-15700
96  CA-2017-161018  'CA-2017-161018', 2017-11-09  '11,09,2017',    AJ-10945
97  CA-2017-157833  'CA-2017-157833', 2017-06-17  '06,17,2017',    BM-11575
98  CA-2016-149223  'CA-2016-149223', 2016-09-06  '09,06,2016',    CV-12805
99  CA-2016-158568  'CA-2016-158568', 2016-08-29  '08,29,2016',    DK-12835

          cosid      Segment             seg     Region           reg  ...  \
0   'EB-13930',     Хувь хүн     'Хувь хүн',   Баянзүрх   'Баянзүрх',  ...
1   'EB-13930',     Хувь хүн     'Хувь хүн',   Баянзүрх   'Баянзүрх',  ...
2   'MO-17950',  Байгууллага  'Байгууллага',    Хан-Уул    'Хан-Уул',  ...
3   'JO-15550',     Хувь хүн     'Хувь хүн',   Баянзүрх   'Баянзүрх',  ...
4   'JO-15550',     Хувь хүн     'Хувь хүн',   Баянзүрх   'Баянзүрх',  ...
..          ...          ...             ...        ...           ...  ...
95  'JR-15700',       Гишүүн       'Гишүүн',    Хан-Уул    'Хан-Уул',  ...
96  'AJ-10945',       Гишүүн       'Гишүүн',  Сүхбаатар  'Сүхбаатар',  ...
97  'BM-11575',     Хувь хүн     'Хувь хүн',    Хан-Уул    'Хан-Уул',  ...
98  'CV-12805',  Байгууллага  'Байгууллага',  Чингэлтэй  'Чингэлтэй',  ...
99  'DK-12835',       Гишүүн       'Гишүүн',  Чингэлтэй  'Чингэлтэй',  ...

               Product Name                       Pname Price    price  \
0        Shokolinsen 250 гр       'Shokolinsen 250 гр',  3300  '3300',
1       Хэрэглээ 00ийн цаас      'Хэрэглээ 00ийн цаас',   500   '500',
2   Алимтай жигнэмэг 230 гр  'Алимтай жигнэмэг 230 гр',  3100  '3100',
3       Золотой янта 500 гр      'Золотой янта 500 гр',  2800  '2800',
4              Punch 450 мл             'Punch 450 мл',  1150  '1150',
..                      ...                         ...   ...      ...
95            Hainich нухаш            'Hainich нухаш',  3300  '3300',
96          Lays чипс 80 гр          'Lays чипс 80 гр',  2300  '2300',
97           Монстров 23 гр           'Монстров 23 гр',   500   '500',
98              Арвай 0.100              'Арвай 0.100',  2000  '2000',
99     Тэйсти гоймон 110 гр     'Тэйсти гоймон 110 гр',  1800  '1800',

    Quantity quantity  Discount      dis    Sales     sales
0          2     '2',      0.00     '0',   6600.0   '6600',
1          3     '3',      0.00     '0',   1500.0   '1500',
2          2     '2',      0.00     '0',   6200.0   '6200',
3          5     '5',      0.00     '0',  14000.0  '14000',
4          2     '2',      0.00     '0',   2300.0   '2300',
..       ...      ...       ...      ...      ...       ...
95         1     '1',      0.03  '0.03',   3201.0   '3201',
96         7     '7',      0.03  '0.03',  15617.0  '15617',
97         3     '3',      0.00     '0',   1500.0   '1500',
98         6     '6',      0.00     '0',  12000.0  '12000',
99         7     '7',      0.03  '0.03',  12222.0  '12222',

[100 rows x 22 columns]

In [7]:
df.iloc[:10]

,Order ID,ID,Order Date,date,Customer ID,cosid,Segment,seg,Region,reg,...,Product Name,Pname,Price,price,Quantity,quantity,Discount,dis,Sales,sales
0,CA-2016-152156,"'CA-2016-152156',",2016-11-08,"'11,08,2016',",EB-13930,"'EB-13930',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Shokolinsen 250 гр,"'Shokolinsen 250 гр',",3300,"'3300',",2,"'2',",0.0,"'0',",6600.0,"'6600',"
1,CA-2016-152156,"'CA-2016-152156',",2016-11-08,"'11,08,2016',",EB-13930,"'EB-13930',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Хэрэглээ 00ийн цаас,"'Хэрэглээ 00ийн цаас',",500,"'500',",3,"'3',",0.0,"'0',",1500.0,"'1500',"
2,CA-2016-138688,"'CA-2016-138688',",2016-06-12,"'06,12,2016',",MO-17950,"'MO-17950',",Байгууллага,"'Байгууллага',",Хан-Уул,"'Хан-Уул',",...,Алимтай жигнэмэг 230 гр,"'Алимтай жигнэмэг 230 гр',",3100,"'3100',",2,"'2',",0.0,"'0',",6200.0,"'6200',"
3,US-2015-108966,"'US-2015-108966',",2015-10-11,"'10,11,2015',",JO-15550,"'JO-15550',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Золотой янта 500 гр,"'Золотой янта 500 гр',",2800,"'2800',",5,"'5',",0.0,"'0',",14000.0,"'14000',"
4,US-2015-108966,"'US-2015-108966',",2015-10-11,"'10,11,2015',",JO-15550,"'JO-15550',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Punch 450 мл,"'Punch 450 мл',",1150,"'1150',",2,"'2',",0.0,"'0',",2300.0,"'2300',"
5,CA-2014-115812,"'CA-2014-115812',",2014-06-09,"'06,09,2014',",RH-19600,"'RH-19600',",Хувь хүн,"'Хувь хүн',",Хан-Уул,"'Хан-Уул',",...,Помидор том,"'Помидор том',",4000,"'4000',",7,"'7',",0.0,"'0',",28000.0,"'28000',"
6,CA-2014-115812,"'CA-2014-115812',",2014-06-09,"'06,09,2014',",RH-19600,"'RH-19600',",Хувь хүн,"'Хувь хүн',",Хан-Уул,"'Хан-Уул',",...,Слава хивэг 400 гр,"'Слава хивэг 400 гр',",750,"'750',",4,"'4',",0.0,"'0',",3000.0,"'3000',"
7,CA-2014-115812,"'CA-2014-115812',",2014-06-09,"'06,09,2014',",RH-19600,"'RH-19600',",Хувь хүн,"'Хувь хүн',",Хан-Уул,"'Хан-Уул',",...,Үзгэн бал арилгадаг,"'Үзгэн бал арилгадаг',",2500,"'2500',",6,"'6',",0.0,"'0',",15000.0,"'15000',"
8,CA-2014-115812,"'CA-2014-115812',",2014-06-09,"'06,09,2014',",RH-19600,"'RH-19600',",Хувь хүн,"'Хувь хүн',",Хан-Уул,"'Хан-Уул',",...,Lady 20 ш,"'Lady 20 ш',",2200,"'2200',",3,"'3',",0.0,"'0',",6600.0,"'6600',"
9,CA-2014-115812,"'CA-2014-115812',",2014-06-09,"'06,09,2014',",RH-19600,"'RH-19600',",Хувь хүн,"'Хувь хүн',",Хан-Уул,"'Хан-Уул',",...,370 Жүүс 370 мл,"'370 Жүүс 370 мл',",850,"'850',",5,"'5',",0.0,"'0',",4250.0,"'4250',"

In [8]:
df.loc[78:88,['Product Name','Sales']]

                           Product Name    Sales
78          Чихэр кг Конфет Кино 400 гр  15000.0
79                        Cocoro 100 гр   2300.0
80                     3н өнгийн алчуур   3300.0
81           Оргилуун ус жимстэй 500 мл   5250.0
82                     Видан зөгийн бал   3300.0
83                      Сор жүүс 200 мл   3500.0
84                 Гурвалжин шоко 22 гр   1746.0
85                        Гоё тетра 1 л   3200.0
86                     Хараа 0.75 цэвэр  11500.0
87              Шпрот урт татдаг 190 гр   7000.0
88  Bagro хүрэн манжингийн салат 500 мл  14938.0

In [11]:
df.loc[:,['Quantity','Sales']]

    Quantity    Sales
0          2   6600.0
1          3   1500.0
2          2   6200.0
3          5  14000.0
4          2   2300.0
..       ...      ...
95         1   3201.0
96         7  15617.0
97         3   1500.0
98         6  12000.0
99         7  12222.0

[100 rows x 2 columns]

In [12]:
df.loc[:,['Quantity','Sales']].sum()

Quantity        374.0
Sales       1115166.5
dtype: float64

In [13]:
df.loc[:,['Product Name']]

               Product Name
0        Shokolinsen 250 гр
1       Хэрэглээ 00ийн цаас
2   Алимтай жигнэмэг 230 гр
3       Золотой янта 500 гр
4              Punch 450 мл
..                      ...
95            Hainich нухаш
96          Lays чипс 80 гр
97           Монстров 23 гр
98              Арвай 0.100
99     Тэйсти гоймон 110 гр

[100 rows x 1 columns]

In [17]:
df['Product Name'].unique()

array(['Shokolinsen 250 гр', 'Хэрэглээ 00ийн цаас',
       'Алимтай жигнэмэг 230 гр', 'Золотой янта 500 гр', 'Punch 450 мл',
       'Помидор том', 'Слава хивэг 400 гр', 'Үзгэн бал арилгадаг',
       'Lady 20 ш', '370 Жүүс 370 мл', 'Саль ариун 30 ш', 'Pysio 300 мл',
       'A vodka 0.5', 'Өгөөж танзуур', 'Vita жимстэй ус 510 мл',
       'Алое шилтэй 180 мл', 'Power 400 g',
       'Пломбир на сливках 80 гр савтай', 'Удон гоймон ууттай',
       'M&M 45 гр', 'Витафит ус 500 мл', 'Памперс №4',
       'Solpro майонез 3 л 67 %', 'Магнат 80 гр',
       'Хувцасны өлгүүр 5 ш алаг', 'Шингэн чихэр', 'Akuku резин 90 гр',
       'Сахлын татуурга Gilette', 'Русский сахар 250 гр',
       'Бэлэн гоймон төмстэй', 'Хүслийн ундаа 500 мл',
       'Arizona лаазтай 680 мл', 'Jacobs кофе', 'Өглөө сүү',
       'Амт чипс 55 гр', 'Эгоист 65 гр', 'Colgate total 100 гр',
       'Слава гурвалжин будаа 650 гр', 'Хараа 0.75 цэвэр',
       'Вигора 200 гр', 'Давс 1 кг', 'Mini cracker 350 гр',
       'Тоник лаазтай 330 мл', 'Tide 450 гр авто',
       'Paldo king noodle 110 гр', 'Цесна 25 кг', 'Appetita плова',
       'Саль ариун 100 ш', 'Слава каш 1 кг', 'Моя семъя 1 л',
       'Зуун наст 1.25 мл', 'Мандарин', 'Appetita будаатай хуурга',
       'Цэвэрхэн 00ийн цаас', 'Siesta үзэм 200 гр',
       'Махеевь салатны 400 мл', 'Selpak 2 хайрцаг', 'Oleina тос 1 л',
       'Чихэр кг Кокос 400 гр', 'Nivea тос 50 мл', 'Омо 100 гр',
       'Өгөөж вафли', 'Head & Shoulders 400 мл', 'Жимстэй чокопай 6 ш',
       'Соёолж 2.5 л', 'Тэргүүн 0.5', 'Витсамо ус 500 мл', 'Дашида 50 гр',
       'Заантай будаа 5 кг', 'Lays чипс 80 гр', 'Хавиргатай рагу 454 гр',
       'Хутга 1 ш', 'Нандин чавга 250 гр', 'Чинжүү',
       'Чихэр кг Конфет Кино 400 гр', 'Cocoro 100 гр', '3н өнгийн алчуур',
       'Оргилуун ус жимстэй 500 мл', 'Видан зөгийн бал',
       'Сор жүүс 200 мл', 'Гурвалжин шоко 22 гр', 'Гоё тетра 1 л',
       'Шпрот урт татдаг 190 гр', 'Bagro хүрэн манжингийн салат 500 мл',
       'Цагаан самар 50 гр', 'Махны мод дугуй', 'Биг ланч 110 гр савтай',
       'Custard 6 ш', 'Алтантүрүү 0.5', 'Фифти фифти 180 гр',
       'Hainich нухаш', 'Монстров 23 гр', 'Арвай 0.100',
       'Тэйсти гоймон 110 гр'], dtype=object)

In [18]:
df['Product Name'].nunique()

94

In [19]:
df.drop_duplicates('Product Name')

,Order ID,ID,Order Date,date,Customer ID,cosid,Segment,seg,Region,reg,...,Product Name,Pname,Price,price,Quantity,quantity,Discount,dis,Sales,sales
0,CA-2016-152156,"'CA-2016-152156',",2016-11-08,"'11,08,2016',",EB-13930,"'EB-13930',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Shokolinsen 250 гр,"'Shokolinsen 250 гр',",3300,"'3300',",2,"'2',",0.00,"'0',",6600.0,"'6600',"
1,CA-2016-152156,"'CA-2016-152156',",2016-11-08,"'11,08,2016',",EB-13930,"'EB-13930',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Хэрэглээ 00ийн цаас,"'Хэрэглээ 00ийн цаас',",500,"'500',",3,"'3',",0.00,"'0',",1500.0,"'1500',"
2,CA-2016-138688,"'CA-2016-138688',",2016-06-12,"'06,12,2016',",MO-17950,"'MO-17950',",Байгууллага,"'Байгууллага',",Хан-Уул,"'Хан-Уул',",...,Алимтай жигнэмэг 230 гр,"'Алимтай жигнэмэг 230 гр',",3100,"'3100',",2,"'2',",0.00,"'0',",6200.0,"'6200',"
3,US-2015-108966,"'US-2015-108966',",2015-10-11,"'10,11,2015',",JO-15550,"'JO-15550',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Золотой янта 500 гр,"'Золотой янта 500 гр',",2800,"'2800',",5,"'5',",0.00,"'0',",14000.0,"'14000',"
4,US-2015-108966,"'US-2015-108966',",2015-10-11,"'10,11,2015',",JO-15550,"'JO-15550',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Punch 450 мл,"'Punch 450 мл',",1150,"'1150',",2,"'2',",0.00,"'0',",2300.0,"'2300',"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,CA-2015-149587,"'CA-2015-149587',",2015-01-31,"'01,31,2015',",NS-18640,"'NS-18640',",Хувь хүн,"'Хувь хүн',",Чингэлтэй,"'Чингэлтэй',",...,Фифти фифти 180 гр,"'Фифти фифти 180 гр',",2750,"'2750',",2,"'2',",0.00,"'0',",5500.0,"'5500',"
95,US-2017-109484,"'US-2017-109484',",2017-11-06,"'11,06,2017',",JR-15700,"'JR-15700',",Гишүүн,"'Гишүүн',",Хан-Уул,"'Хан-Уул',",...,Hainich нухаш,"'Hainich нухаш',",3300,"'3300',",1,"'1',",0.03,"'0.03',",3201.0,"'3201',"
97,CA-2017-157833,"'CA-2017-157833',",2017-06-17,"'06,17,2017',",BM-11575,"'BM-11575',",Хувь хүн,"'Хувь хүн',",Хан-Уул,"'Хан-Уул',",...,Монстров 23 гр,"'Монстров 23 гр',",500,"'500',",3,"'3',",0.00,"'0',",1500.0,"'1500',"
98,CA-2016-149223,"'CA-2016-149223',",2016-09-06,"'09,06,2016',",CV-12805,"'CV-12805',",Байгууллага,"'Байгууллага',",Чингэлтэй,"'Чингэлтэй',",...,Арвай 0.100,"'Арвай 0.100',",2000,"'2000',",6,"'6',",0.00,"'0',",12000.0,"'12000',"
99,CA-2016-158568,"'CA-2016-158568',",2016-08-29,"'08,29,2016',",DK-12835,"'DK-12835',",Гишүүн,"'Гишүүн',",Чингэлтэй,"'Чингэлтэй',",...,Тэйсти гоймон 110 гр,"'Тэйсти гоймон 110 гр',",1800,"'1800',",7,"'7',",0.03,"'0.03',",12222.0,"'12222',"

In [22]:
df.drop_duplicates('Product Name').nunique()

Order ID        48
ID              48
Order Date      47
date            47
Customer ID     45
cosid           45
Segment          3
seg              3
Region           4
reg              4
Category        21
cate            21
Product Name    94
Pname           94
Price           58
price           58
Quantity         9
quantity         9
Discount         2
dis              2
Sales           71
sales           71
dtype: int64

In [24]:
df[df['Product Name'].duplicated(keep=False)]

,Order ID,ID,Order Date,date,Customer ID,cosid,Segment,seg,Region,reg,...,Product Name,Pname,Price,price,Quantity,quantity,Discount,dis,Sales,sales
5,CA-2014-115812,"'CA-2014-115812',",2014-06-09,"'06,09,2014',",RH-19600,"'RH-19600',",Хувь хүн,"'Хувь хүн',",Хан-Уул,"'Хан-Уул',",...,Помидор том,"'Помидор том',",4000,"'4000',",7,"'7',",0.00,"'0',",28000.0,"'28000',"
15,US-2015-118983,"'US-2015-118983',",2015-11-22,"'11,22,2015',",RB-19570,"'RB-19570',",Гишүүн,"'Гишүүн',",Чингэлтэй,"'Чингэлтэй',",...,Алое шилтэй 180 мл,"'Алое шилтэй 180 мл',",1100,"'1100',",3,"'3',",0.03,"'0.03',",3201.0,"'3201',"
31,US-2015-150630,"'US-2015-150630',",2015-09-17,"'09,17,2015',",JK-15625,"'JK-15625',",Хувь хүн,"'Хувь хүн',",Сүхбаатар,"'Сүхбаатар',",...,Помидор том,"'Помидор том',",4000,"'4000',",6,"'6',",0.00,"'0',",24000.0,"'24000',"
32,US-2015-150630,"'US-2015-150630',",2015-09-17,"'09,17,2015',",JK-15625,"'JK-15625',",Хувь хүн,"'Хувь хүн',",Сүхбаатар,"'Сүхбаатар',",...,Arizona лаазтай 680 мл,"'Arizona лаазтай 680 мл',",2500,"'2500',",6,"'6',",0.00,"'0',",15000.0,"'15000',"
39,CA-2015-117415,"'CA-2015-117415',",2015-12-27,"'12,27,2015',",CS-12355,"'CS-12355',",Гишүүн,"'Гишүүн',",Чингэлтэй,"'Чингэлтэй',",...,Хараа 0.75 цэвэр,"'Хараа 0.75 цэвэр',",11500,"'11500',",3,"'3',",0.03,"'0.03',",33465.0,"'33465',"
43,CA-2017-139619,"'CA-2017-139619',",2017-09-19,"'09,19,2017',",JD-15895,"'JD-15895',",Байгууллага,"'Байгууллага',",Баянзүрх,"'Баянзүрх',",...,Arizona лаазтай 680 мл,"'Arizona лаазтай 680 мл',",2500,"'2500',",2,"'2',",0.00,"'0',",5000.0,"'5000',"
54,CA-2016-105816,"'CA-2016-105816',",2016-12-11,"'12,11,2016',",SR-20740,"'SR-20740',",Байгууллага,"'Байгууллага',",Сүхбаатар,"'Сүхбаатар',",...,Appetita будаатай хуурга,"'Appetita будаатай хуурга',",350,"'350',",5,"'5',",0.00,"'0',",1750.0,"'1750',"
71,CA-2017-114440,"'CA-2017-114440',",2017-09-14,"'09,14,2017',",DL-13315,"'DL-13315',",Хувь хүн,"'Хувь хүн',",Чингэлтэй,"'Чингэлтэй',",...,Lays чипс 80 гр,"'Lays чипс 80 гр',",2300,"'2300',",3,"'3',",0.00,"'0',",6900.0,"'6900',"
72,US-2015-134026,"'US-2015-134026',",2015-04-26,"'04,26,2015',",JL-15130,"'JL-15130',",Хувь хүн,"'Хувь хүн',",Баянзүрх,"'Баянзүрх',",...,Алое шилтэй 180 мл,"'Алое шилтэй 180 мл',",1100,"'1100',",8,"'8',",0.00,"'0',",8800.0,"'8800',"
75,US-2017-118038,"'US-2017-118038',",2017-12-09,"'12,09,2017',",BO-11425,"'BO-11425',",Байгууллага,"'Байгууллага',",Чингэлтэй,"'Чингэлтэй',",...,Appetita будаатай хуурга,"'Appetita будаатай хуурга',",350,"'350',",3,"'3',",0.00,"'0',",1050.0,"'1050',"
86,CA-2017-155558,"'CA-2017-155558',",2017-10-26,"'10,26,2017',",TS-21205,"'TS-21205',",Хувь хүн,"'Хувь хүн',",Чингэлтэй,"'Чингэлтэй',",...,Хараа 0.75 цэвэр,"'Хараа 0.75 цэвэр',",11500,"'11500',",1,"'1',",0.00,"'0',",11500.0,"'11500',"
96,CA-2017-161018,"'CA-2017-161018',",2017-11-09,"'11,09,2017',",AJ-10945,"'AJ-10945',",Гишүүн,"'Гишүүн',",Сүхбаатар,"'Сүхбаатар',",...,Lays чипс 80 гр,"'Lays чипс 80 гр',",2300,"'2300',",7,"'7',",0.03,"'0.03',",15617.0,"'15617',"

In [26]:
df['Order ID'].nunique()

50

In [41]:
a=df.groupby(['Product Name']).sum()
a.reset_index(inplace=True)
a.loc[a['Product Name'] == 'Помидор том', 'Quantity']

60    13
Name: Quantity, dtype: int64

In [43]:
a=df.groupby(['Product Name']).sum()
a.loc['Алое шилтэй 180 мл']

Price        2200.00
Quantity       11.00
Discount        0.03
Sales       12001.00
Name: Алое шилтэй 180 мл, dtype: float64

In [55]:
a=df.groupby(['Order ID']).sum()
a.loc[:,['Sales']].max()

Sales    135900.0
dtype: float64

In [48]:
a.loc[:,['Sales']].max()

Sales    135900.0
dtype: float64